<!DOCTYPE HTML>
<!--
	Elemental by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Soil Sensor Cloud</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
	</head>
	<body>

	<!-- Header -->
		<div id="header">
			<div class="container">
					
				<!-- Logo -->
					<div id="logo">
					
						<h1><a href="#">Soil Sensor Cloud</a></h1>
					</div>
			</div>
			<div class="container">
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li class="active"><a href="#">Sensor Map</a></li>
							
							<li><a href="login">Login</a></li>
						</ul>
					</nav>
			</div>
			<div class="container">
				<iframe src="https://www.google.com/maps/d/embed?mid=1UsusxRe547RwVgqvCv720QzXaPo" width="1200" height="600"></iframe>
			</div>

		</div>
	<!-- Header -->
		

	<!-- Main -->
		<div id="main">
		
			<div class="container">
				<div id="banner"></div>
			</div>
			
			<div class="container">
				<div class="row">
					
					
					<div id="content" class="9u skel-cell-important">
						<section>
							<header>
								<h2>Sensor Map</h2>
							</header>
							
							
							<p>Sensor Map includes a comprehensive set of demographic and lifestyle view of different types of soil in the United States and more than 120 other countries. This includes recent demographic and Tapestry Segmentation lifestyle information such as soil pH levels, soil moisture, soil temperature and more. It also includes consumer spending information on many types of soil for irrigational or house building purposes. This information can be accessed as ready-to-use map layers, including preconfigured pop-up windows showing different sensor grids, which can be reconfigured and added to your maps.</p>
							<p>The collection of landscape maps and layers available through Soil Sensor covers a wide set of topics related to our natural and man-made environments, including agriculture, wildlife, elevation, hydrology, and weather. Landscape analysis underpins much of our land-use planning and how we manage our natural resources and relationship with the environment. As part of this collection, Soil Sensor Cloud has assembled best available data from many public sources and provided the content in an easy-to-use collection of layers, which can be used to make better informed decisions.</p>
							<p>Explore soil survey areas using an interactive Google map. View detailed information about map units and their components. </p>
						</section>
						
					</div>
					
				</div>
			</div>
		</div>
	<!-- /Main -->

	


	</body>
</html>